{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }],
  "tabWidth": 2,
  "bracketSameLine": true,
  "objectWrap": "collapse",
  "printWidth": 120
}
